body{
    background-color: rgb(219, 0, 0); 
}

.text-red {
    color: rgb(219, 0, 0);
}

.bg-result {
    background-color: rgba(0, 0, 0, 0.438);
}

.ico {
    cursor: pointer;
    /*margin: 3px 0 4px 0;*/
}

.border-item{
    border-bottom: 1px solid rgb(136, 0, 0);
}